<div
  class="container-fluid d-flex flex-column align-items-center justify-content-center"
>
  <img
    src="/assets/images/store-main-page.jpg"
    alt="Store Main page Photo"
    height="250px"
  />
  <br />

  <h1 class="text-center">Our Menu</h1>
  <div class="row">
    <div class="col-md-6">
      @for (product of products; track $index) {
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img
            class="menu-img"
            alt="menu image"
            src="assets/images/menu-card.jpg"
          />
          <!-- Product Details -->
          <div class="product-details">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.category }}</p>
            <p class="card-text">{{ product.price }}</p>
          </div>
          <div class="counter">
            <app-counter
              ngIf="!isOrderPage && !isOrder"
              [product]="product"
              (countChange)="onCounterChange(product, $event)"
            ></app-counter>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="col-lg-2">
      <app-cart class="cart" />
    </div>
  </div>

  <button class="order-button" (click)="goToOrderPage()">
    Review and Submit Order
  </button>
</div>
