<div class="container-fluid d-flex flex-column align-items-center">
  <img
    src="/assets/images/store-main-page.jpg"
    alt="Store Main page Photo"
    height="250px"
  />
  <br />
  <h1>Our Menu</h1>
  <div class="row">
    <div class="col-md-9">
      @for (product of products; track $index) {
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img class="menu-img" alt="menu image" src="assets/images/menu-card.jpg" />
          <!-- Product Details -->
          <div class="product-details">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.category }}</p>
            <p class="card-text">{{ product.price }}</p>
          </div>

          <!-- Counter Button -->
          <button class="btn" (click)="productButtonClicked(product)">
            <app-counter />
          </button>
        </div>
      </div>
      }
    </div>
    <div class="col-md-3">
      <!-- CART START -->
      <div style="background-color: #fff;">cart goes here</div>
      <!-- CART END -->
    </div>
  </div>

  <app-cart />

  <button class="order-button" (click)="goToOrderPage()">
    Review and Submit Order
  </button>
</div>
