* {
  background-color: #13482f;
}

img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid white;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  object-fit: cover;
}

.menu-img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid white;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  margin-top: 20px;
  object-fit: cover;
  margin-right: 20px;
}

h1 {
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 55px;
}

.product-details {
  background-color: white;
  width: 40%;
}

.card-body {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  border-radius: 5px;
  height: 200px;
}

.card-title {
  background-color: white;
}

.card-text {
  background-color: white;
}

.order-button {
  border-radius: 5px;
  background-color: #e5ad05;
  padding: 8px;
  margin-top: 100px;
  border: none;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  width: 300px;
}

.order-button:hover {
  background-color: grey;
  color: #e5ad05;
}

.btn {
  background-color: white;
  border: none;
}

.card-body {
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
}


@media screen and (max-width: 575px) {

  .card h5 {
    font-size: 1.1rem;
  }

  .product-details {
    width: 50%;
  }

  .card-text {
    font-size: .9rem;
  }
}
