* {
  background-color: #13482f;
}

img {
  border-radius: 10px;
  margin-bottom: 300px;
  margin-top: 20px;
  box-shadow: 17px 17px 10px rgba(15, 15, 15, 0.5);
  object-fit: cover;
  height: 250px;
}

.text-center {
  color: white;
}

.table-title {
  justify-content: space-around !important;
  margin-top: 170px;
}

.table-title th {
  padding-right: 70px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #e5ad05;
  background-color: #13482f;
  border: 1px solid #e5ad05;
  border: none;
}

.table-title td {
  padding-right: 70px;
  border: 1px solid #e5ad05;
  background-color: #13482f;
  color: white;
}

.account-page-title {
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: -280px;
  padding-top: 130px;
  margin-bottom: 150px;
  font-size: 75px;
}

.inner-container {
  width: 80%;
  height: 400px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(15, 15, 15, 0.5);
}
