.cart-container {
  border: 2px solid white;
  border-radius: 5px;
<<<<<<< HEAD
  width: auto;
  min-width: 400px;
=======
  width: 100%;
>>>>>>> 6860756355086d33e4754df23f59ca020308ce4e
  background-color: white;
  height: auto;
  overflow: hidden;
  padding: 70px 40px;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: green;
  margin-left: 20px;
  margin-right: 20px;
}

.empty {
  color: grey;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .cart-container {
    max-width: 100%;
    padding: 50px 10px;
  }

  h1 {
    font-size: 60px;
  }
}
