<div class="container-fluid" style = "background-color: #13482f;">
  <h1>Most famous stores</h1>

  <div class="row">
    @for (store of famousStoreList; track $index) {

    <div class="col-lg-4 col-md-6">
      <div
        class="product-card card"
        (click)="viewStoreProducts(store.id)"
        title="View more"
      >
      <img src="../../../assets/images/goodys.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">{{store.name}}</h5>
          <p class="card-text">{{store.category}}</p>
          <p class="card-text">{{store.address}}</p>
        </div>
      </div>
    </div>
    }
  </div>

  <h1>Stores</h1>

    <div class="row">
      @for (store of storeList; track $index) {

      <div class="col-lg-4 col-md-6">
        <div
          class="product-card card"
          (click)="viewStoreProducts(store.id)"
          title="View more"
        >
        <img src="../../../assets/images/goodys.jpg" class="card-img-top" alt="img">
          <div class="card-body">
            <h5 class="card-title">{{ store.name }}</h5>
            <p class="card-text">{{ store.category }}</p>
            <p class="card-text">{{ store.address }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
