body {
  background-color: #13482f;
}

h1 {
  padding-top: 150px;
  text-align: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
  color: #e5ad05;
  margin-bottom: 100px;
}

.product-card {
  margin: 20px 10px;
  cursor: pointer;
}
