<div class="container">
    <h5>Stores</h5>
    <div class="row">

    @for (product of productList; track $index) {
        <div class="col-md-4 col-sm-6">
        <app-product 
                     [id]="product.id"
                     [category]="product.category"
                     [code]="product.code"
                     [name]="product.name"
                     [store]="product.store"
                     [img]="product.img">
        </app-product>
        </div>
    }   
    </div>
</div>