<div class="container-fluid align-items-center justify-content-center">
  <!-- Check if the order has not been submitted -->
  <div *ngIf="!isOrderSubmitted; else orderSubmitted">
    <!-- Heading for the order section -->
    <h1 class="order">Order</h1>

    <!-- Container for displaying the cart -->
    <div class="cart-container">
      <app-cart class="cart col-md-10 col-sm-12" [isOrderPage]="true" />
    </div>

    <!-- Button to submit the order -->
    <app-send-order-button class="button" (orderSubmitted)="submitOrder()" />
  </div>

  <!-- Template for when the order is submitted -->
  <ng-template #orderSubmitted>
    <!-- Message when the order is being sent -->
    <h1 class="sent">Your order is being sent.</h1>

    <!-- Link to go back to the home page -->
    <a routerLink="/home">Go back to home page</a>
  </ng-template>
</div>
