<nav class="navbar navbar-expand-lg" style="background-color: #e5ad05">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">We Lead</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link active"
            aria-current="page"
            routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="about-us"
            >About</a
          >
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="contact"
            >Contact</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Stores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">Categories</h6>
            <li>
              <a
                class="dropdown-item"
                routerLink="active"
                routerLink="foodStores"
                >Food</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="active"
                routerLink="drinkStores"
                >Drink</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="active" routerLink="store"
                >View All Stores</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="search">
        <app-search />
      </div>
      <br />

      <ng-container *ngIf="isUserRegistered">
        <!-- <button
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"> 
            Welcome 
             /* {{ registeredUser.firstName }}!
            {{ registerUser.name }} */
          </button> -->
        <div class="nav-item dropdown list-unstyled">
          <button
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome
          </button>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">My Profile</h6>
            <li>
              <a class="dropdown-item" routerLink="active" routerLink="/account"
                >Account</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="active"
                routerLink="/all-placed-orders"
                >Orders</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="active"
                routerLink="/home"
                (click)="logoutUser(); deleteRegistration()"
                >Log out</a
              >
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="!isUserRegistered">
        <button class="btn btn-outline-primary px-15" routerLink="/register">
          Register
        </button>
      </ng-container>
    </div>
  </div>
</nav>
