.dropdown-menu h6 {
  font-size: 1rem;
}

.navbar-brand {
  color: green;
  font-weight: bold;
}

.search {
  margin-right: 30px;
}

button {
  border-radius: 5px;
  background-color: #13482f;
  border: none;
  padding: 8px;
  margin-right: 20px;
  color: #e5ad05;
  cursor: pointer;
}

button:hover {
  background-color: grey;
  color: #e5ad05;
}

.arrow {
  height: 12px;
  width: auto;
  color: grey;
}

img {
  cursor: pointer;
  height: 40px;
  width: auto;
  margin-right: 10px;
}
