<nav class="navbar navbar-expand-lg" style="background-color: #e5ad05">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">We Lead</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link active"
            aria-current="page"
            routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="about-us"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="contact"
            >Contact</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Stores</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">Categories</h6>
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                routerLink="foodStores"
                >Food</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                routerLink="drinkStores"
                >Drink</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                routerLink="store"
                >View All Stores</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="search">
        <app-search></app-search>
      </div>

      <div class="navbar-actions">
        <div
          class="navbar-item"
          *ngIf="!isRegistered && !isRegistrationPage"
          routerLink="/register"
          routerLinkActive="active"
        >
          <button>Register</button>
        </div>

        <div
          class="navbar-item dropdown"
          *ngIf="isRegistered"
          (mouseenter)="toggleDropdown('account', true)"
          (mouseleave)="toggleDropdown('account', false)"
        >
          <div class="avatar-container" (click)="toggleDropdown('account')">
            <img src="/assets/images/avatar.png" alt="avatar icon" />
            My Profile
            <img
              class="arrow"
              src="/assets/images/down-arrow.png"
              alt=" navigation arrow down icon"
            />
          </div>
          <div
            class="dropdown-menu"
            [ngClass]="{ show: isDropdownOpen['account'] }"
            (mouseenter)="toggleDropdown('account', true)"
            (mouseleave)="toggleDropdown('account', false)"
          >
            <div class="dropdown-item" routerLink="/account">Account</div>
            <div class="dropdown-item" routerLink="/all-placed-orders">
              Orders
            </div>
            <li>
              <a class="dropdown-item"  routerLink="/home" (click)="logoutUser(); deleteRegistration()"
                >Log out</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
