* {
  background-color: #13482f;
}

h1 {
  color: #e5ad05;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  font-size: 75px;
  margin-bottom: 80px;
}

.main-photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 30px;
  border: 3px solid white;
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.5);
  object-fit: cover;
  margin-bottom: 140px;
}

.star-fill {
  fill: green;
}

.card-body {
  background-color: white;
  transition: background-color 0.3s;
}

.inner-container {
  margin-left: 20px;
}

h5 {
  background-color: white;
}

.star-icon {
  background-color: white;
}

.card-rating {
  background-color: white;
}

.card {
  border: 3px solid white;
  margin-left: 12px;
}

/* Media Queries for Extra Small, Small, and Medium Screens */
@media screen and (max-width: 575px) {
  .card {
    margin-left: 85px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .card {
    margin-left: 110px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    margin-left: 200px;
    margin-bottom: 30px;
  }
}

/* Media Queries for Large and Extra Large Screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    margin-left: 110px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    margin-left: 170px;
    margin-bottom: 30px;
  }
}
/* Media Queries for Extra Large Screens */
@media screen and (min-width: 1400px) {
  .card {
    margin-left: 230px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .card {
    margin-left: 230px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1800px) {
  .card {
    margin-left: 240px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    margin-left: 230px;
    margin-bottom: 30px;
  }
}
