* {
  background-color: #13482f;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  padding-top: 130px;
  color: white;
  font-size: 45px;
  font-weight: 600;
}

.container-fluid {
  padding-top: 130px;
}

.inner-box {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 15px 15px 5px rgba(22, 22, 22, 0.5);
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.inner-box p {
  color: white;
  border-radius: 5px;
  padding-top: 4px;
  padding-left: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
}

span {
  color: #e5ad05;
  margin-right: 10px;
}
