* {
  background-color: #13482f;
}

.container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 25px;
}

.container-fluid {
  padding-top: 80px;
}

.categories {
  padding-bottom: 10px;
  margin-top: 220px;
  text-align: center;
  color: #e5ad05;
}

h1 {
  font-size: 55px;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
  color: white;
}

a img {
  border-radius: 10px;
  display: inline;
  margin-bottom: 220px;
  cursor: pointer;
  gap: 5px;
  margin-right: 10px;
  margin-left: 153px;
  border: 2px solid white;
}

/* Media Queries for Extra Small, Small, and Medium Screens */
@media screen and (max-width: 575px) {
  a img {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  a img {
    margin-left: 100px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  a img {
    margin-left: 170px;

    margin-bottom: 30px;
  }
}

/* Media Queries for Large and Extra Large Screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  a img {
    margin-left: 350px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  a img {
    margin-left: 450px;
    margin-bottom: 30px;
  }
}
/* Media Queries for Extra Large Screens */
@media screen and (min-width: 1400px) {
  a img {
    margin-left: 190px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  a img {
    margin-left: 250px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1800px) {
  a img {
    margin-left: 350px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1920px) {
  a img {
    margin-left: 380px;
    margin-bottom: 30px;
  }
}

/* Styles for screens with a width of 2560 pixels and wider */
@media screen and (min-width: 2560px) {
  a img {
    margin-left: 690px;
    margin-bottom: 30px;
  }
}

/* Example: Styles for screens with a width of 3200 pixels and wider */
@media screen and (min-width: 3200px) {
  a img {
    margin-left: 890px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 3840px) {
  a img {
    margin-left: 1090px;
    margin-bottom: 30px;
  }
}
