<div class="container-fluid">
  <!-- Image Section -->
  <img
    src="./assets/images/about.jpg"
    height="250px"
    width="100%"
    alt="about photo"
  />
  <!-- Video Section -->

  <video
    src="./assets/video/video.about.mp4"
    class="object-fit-none"
    autoplay
    style="height: 250px; width: 100%"
  ></video>

  <!-- Section 1: Connecting consumers to local restaurants -->
  <h1 class="text-center">Connecting consumers to local restaurants</h1>
  <pre class="fonts">
      Welcome to our culinary haven at Foodies! 
  
      Here, we're not just delivering food; we're bringing flavors to life and transforming your dining experiences. 
  
      But it's not just about the food; it's about creating moments. 
  
      We understand that each order is a celebration, a break from the routine, 
      and a chance to savor something extraordinary.
  
      Join us in this culinary adventure and let the aromas and flavors of our carefully crafted dishes enrich 
      your days and nights!
    </pre
  >

  <!-- Section 2: Our flavorful journey through time -->
  <h1 class="text-center">Our flavorful journey through time</h1>
  <pre class="fonts">
      At Foodies, our story begins with a passion for bringing exceptional culinary experiences to your doorstep. 
  
      Established in 2015, we set out on a mission to redefine online food delivery by offering more
      than just meals, we aimed to deliver moments of joy and satisfaction.
  
      In the early days, our founders, envisioned a platform that transcends traditional dining. 
      Fuelled by a shared love for good food and a commitment to customer delight, they embarked on a journey to create 
      a unique space in the world of online gastronomy.
  
      Foodies started small, working with local chefs and culinary experts to curate a menu that celebrates
      diversity and caters to a wide range of tastes. 
      Our commitment to quality and innovation quickly gained traction, earning the loyalty of our first customers 
      and paving the way for growth.
  
      As the years unfolded, so did our menu, expanding to include a plethora of cuisines, beverages, 
      and delectable treats. 
      The introduction of cutting-edge technology and a user-friendly online platform further enhanced 
      the convenience and joy of ordering from Foodies.
  
      We take pride in our rich history, marked by countless satisfied customers, delicious milestones,
      and a commitment to delivering happiness, 
      one order at a time!
    </pre
  >

  <h1 class="text-center num2"></h1>
</div>
