.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  height: 15px;
  width: auto;
  position: absolute;
  left: 10px;
  cursor: pointer;
  margin-top: 6px;
}

.search-input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  background-color: rgb(229, 227, 227);
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 5px;
}
